 <!-- Closing Context !-->
</div>
 <!-- Closing Pusher !-->
</div>
</body>
<footer>
<div class="ui fluid centered container">
	<div class="ui fixed bottom sticky five item inverted menu">
	  <a href="{{.Site.Params.legalNoticePath}}" target="_blank" class="item link-text">{{.Site.Params.legalNotice}}</a>
	  <a href="{{.Site.Params.privacyPath}}" target="_blank" class="item link-text">{{.Site.Params.privacy}}</a>
	  <a href="{{.Site.Params.aboutPath}}" target="_blank" class="item link-text">{{.Site.Params.about}}</a>
		<a href="{{.Site.Params.wikiUrl}}" target="_blank" class="item link-text">{{.Site.Params.wikiName}}</a>
		<a href="{{.Site.Params.projectUrl}}" target="_blank" class="item link-text">{{.Site.Params.projectName}}</a>
	</div>
</div>

</footer>
</html>