<div class="ui header header-bar">
  <div class="ui fixed top">
    <div class="ui attached inverted segment middle aligned grid header-grid">
      <a class="four wide mobile one wide computer column" href="/">
          <i class="arrow alternate circle left outline big icon"></i>
      </a>
      <a class="four wide mobile one wide computer column" href="/">
        <div class="link-text">Home</div>
      </a>
      <div class="eight wide mobile twelve wide computer column">
        <h1 class="ui centered white inverted header">{{.Title}}</h1>
      </div>
      <div class="two wide computer only column">
        
      </div>
    </div>
  </div>
</div>